@model IEnumerable<ShoppingCart.Models.Item>

@{
    ViewData["Title"] = "Cart Page";
}

<h5>Items in Cart</h5>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.ID" method="post">
                            <input type="submit" value="Remove from cart" class="btn btn-link" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>